tabulate
# Testing Dependencies
coverage~=6.3.1
pytest~=7.0.0
pytest-bdd~=5.0.0
pytest-cov~=3.0.0
pytest-subtests~=0.6.0
tox
tox-pytest-summary

# Linting dependencies
flake8

# Documentation Dependencies
myst-parser
sphinx
sphinxcontrib-apidoc

# pipy publishing
twine
setuptools
wheel
