{% extends "layout.html" %}
{% import "macros.html" as mc %}


{% block content %}
    {# Read the and invert the namespace/prefix definitions for substitution #}
    {% set prefixes, error = from_file(conf.template_path+'/prefixes.json').fetch_tree() %}
    {% set inverted_prefixes = invert_dict(prefixes) %}
    
    <h1>Concepts</h1>
    {% include "sections/added_instance_concepts.html" with context %}
    {% include "sections/deleted_instance_concepts.html" with context %}
    <h1>Alt label</h1>
    {% include "sections/added_property_concept_alt_label.html" with context %}
    {% include "sections/deleted_property_concept_alt_label.html" with context %}
    <h1>Hidden label</h1>
    {% include "sections/added_property_concept_hidden_label.html" with context %}
    {% include "sections/deleted_property_concept_hidden_label.html" with context %}
    <h1>Concept pref label</h1>
    {% include "sections/added_property_concept_pref_label.html" with context%}
    {% include "sections/deleted_property_concept_pref_label.html" with context %}
    <h1>Dc identifier</h1>
    {% include "sections/added_property_concept_dc_identifier.html" with context %}
    {% include "sections/deleted_property_concept_dc_identifier.html" with context %}
    <h1>Dct identifier</h1>
    {% include "sections/added_property_concept_dct_identifier.html" with context%}
    {% include "sections/deleted_property_concept_dct_identifier.html" with context %}
    <h1>Notation</h1>
    {% include "sections/added_property_concept_notation.html" with context%}
    {% include "sections/deleted_property_concept_notation.html" with context%}
    <h1>SKOS in scheme</h1>
    {% include "sections/added_property_concept_skos_in_scheme.html" with context%}
    {% include "sections/deleted_property_concept_skos_in_scheme.html" with context%}
    <h1>Owl version info</h1>
    {% include "sections/added_property_concept_owl_versioninfo.html" with context%}
    {% include "sections/deleted_property_concept_owl_versioninfo.html" with context%}
    <h1>SKOS note</h1>
    {% include "sections/added_property_concept_skos_note.html" with context%}
    {% include "sections/deleted_property_concept_skos_note.html" with context%}
    <h1>SKOS change note</h1>
    {% include "sections/added_property_concept_skos_changeNote.html" with context%}
    {% include "sections/deleted_property_concept_skos_changeNote.html" with context%}
    <h1>SKOS definition</h1>
    {% include "sections/added_property_concept_skos_definition.html" with context%}
    {% include "sections/deleted_property_concept_skos_definition.html" with context%}
    <h1>Editorial note</h1>
    {% include "sections/added_property_concept_editorialNote.html" with context%}
    {% include "sections/deleted_property_concept_editorialNote.html" with context%}
    <h1>Example</h1>
    {% include "sections/deleted_property_concept_example.html" with context%}
    {% include "sections/deleted_property_concept_example.html" with context%}
    <h1>History note</h1>
    {% include "sections/added_property_concept_history_note.html" with context%}
    {% include "sections/deleted_property_concept_history_note.html" with context%}
    <h1>Scope note</h1>
    {% include "sections/added_property_concept_scope_note.html" with context%}
    {% include "sections/deleted_property_concept_scope_note.html" with context%}
    <h1>OWL deprecated</h1>
    {% include "sections/added_property_concept_owl_deprecated.html" with context%}
    {% include "sections/deleted_property_concept_owl_deprecated.html" with context%}
    <h1>Label literal form</h1>
    {% include "sections/added_reified_concept_alt_label_literal_form.html" with context%}
    {% include "sections/deleted_reified_concept_alt_label_literal_form.html" with context%}
    <h1>Notation value</h1>
    {% include "sections/added_reified_concept_notation_value.html" with context%}
    {% include "sections/deleted_reified_concept_notation_value.html" with context%}
    <h1>Pref label literal form</h1>
    {% include "sections/added_reified_concept_pref_label_literal_form.html" with context%}
    {% include "sections/deleted_reified_concept_pref_label_literal_form.html" with context%}
{% endblock %}